body {
  color: #FFF;
}

.color_popover {
  width: 232px;
}
.color_popover .header {
  width: 100%;
  overflow: auto;
  margin-bottom: 5px;
}
.color_popover .large_swatches {
  border-radius: 3px;
  background-image: -webkit-image-set(url("../img/color_thumb_back.png") 1 x, url("../img/color_thumb_back@2x.png") 2 x);
  background-size: 8px;
  height: auto;
  width: auto;
  margin-right: 9px;
floatleft
  overflow: auto;
  box-shadow: 0 1px 0 #fff;
}
.color_popover .large_swatch {
  width: 44px;
  height: 35px;
  display: block;
  float: left;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.2);
}
.color_popover .current_color {
  border-radius: 3px 0px 0px 3px;
  background-color: rgba(0,187,255,0.8);
}
.color_popover .last_color {
  border-radius: 0px 3px 3px 0px;
  background-color: #ccc;
}
.color_popover .small_swatches {
  width: 135px;
  float: left;
}
.color_popover .small_swatch {
  background-image: -webkit-image-set(url("../img/color_thumb_back.png") 1 x, url("../img/color_thumb_back@2x.png") 2 x);
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
  margin-right: 5px;
  float: left;
  border-radius: 3px;
  box-shadow: 0 1px 0 #fff;
}
.color_popover .small_swatch:last-child {
  margin-right: 0px;
}
.color_popover .color_swatch {
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.2);
  background-color: #d9dcdc;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 3px;
}
.color_popover .gradient_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.color_popover .color_selection_field {
  width: 181px;
  height: 156px;
  margin-right: 13px;
  display: block;
  float: left;
  border-radius: 5px 3px 3px 3px;
  position: relative;
  box-shadow: 0 1px 0 #fff, inset 0 1px 0 rgba(0,0,0,0.2);
}
.color_popover .color_selection_field .saturation_gradient {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, from(#fff), to(rgba(255,255,255,0)));
}
.color_popover .color_selection_field .luminosity_gradient {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
}
.color_popover .color_selection_field .selector_base {
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  margin-bottom: -8px;
  margin-left: -5px;
}
.color_popover .color_selection_field .selector {
  width: 19px;
  height: 19px;
  position: absolute;
  left: -4px;
  top: -4px;
  background-image: -webkit-image-set(url("../img/grabber_color-well.png") 1 x, url("../img/grabber_color-well@2x.png") 2 x);
}
.color_popover .slider {
  border-radius: 3px;
  width: 12px;
  height: 156px;
  margin-right: 13px;
  background-color: #ccc;
  display: block;
  float: left;
  box-shadow: 0 1px 0 #fff, inset 0 1px 0 rgba(0,0,0,0.2);
}
.color_popover .slider positionrelative,
.color_popover .slider .selector_base {
  width: 14px;
  height: 6px;
  background-color: transparent;
  position: absolute;
  margin: -1px -6px -4px -1px;
}
.color_popover .slider .selector {
  width: 20px;
  height: 12px;
  left: -3px;
  top: -3px;
  position: absolute;
  background-image: -webkit-image-set(url("../img/grabber_color-slider.png") 1 x, url("../img/grabber_color-slider@2x.png") 2 x);
}
.color_popover .slider.opacity_slider {
  background-image: -webkit-image-set(url("../img/color_thumb_back.png") 1 x, url("../img/color_thumb_back@2x.png") 2 x);
  background-size: 8px;
  position: relative;
  margin-right: 0px;
}
.color_popover .hue_slider {
  background-image: -webkit-linear-gradient(top, #f00, #f0f, #00f, #0ff, #0f0, #ff0, #f00);
}
.color_popover .color_value {
  width: 114px;
  height: 23px;
  margin-top: 0px;
  margin-right: 11px;
  background-color: #aaa;
  float: left;
}
.color_popover .color_popover .footer {
  float: left;
  margin-top: 12px;
}
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.button-bar {
  list-style: none;
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
}
.button-bar li {
  display: inline-block;
  margin-left: -3px;
}
.button-bar a {
  text-decoration: none;
  color: #454545;
  display: block;
  padding: 3px 7px 5px;
  height: 15px;
  font-size: 12px;
  text-shadow: 0 1px #fff;
  background-color: #f5f9fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f9fa), to(#e3e5e6));
  background-image: -webkit-linear-gradient(top, #f5f9fa, #e3e5e6);
  background-image: linear-gradient(top, #f5f9fa, #e3e5e6);
  border-right: 1px solid #bcbcbc;
  margin-left: -3px;
  -moz-box-shadow: inset 0 1px 1px #fff;
  -webkit-box-shadow: inset 0 1px 1px #fff;
  box-shadow: inset 0 1px 1px #fff;
}
.button-bar a:hover {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f6f7));
  background-image: -webkit-linear-gradient(top, #fff, #f4f6f7);
  background-image: linear-gradient(top, #fff, #f4f6f7);
}
.button-bar li:first-child {
  margin-left: 0;
}
.button-bar li:first-child a {
  margin-left: 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.button-bar li:last-child a {
  border-right: none;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.button-bar li.selected a {
  background: #e5e7e8;
  cursor: default;
}
.button-bar li.disabled a {
  cursor: default;
  color: rgba(69,69,69,0.4);
  background-color: rgba(245,249,250,0.4);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245,249,250,0.4)), to(rgba(227,229,230,0.4)));
  background-image: -webkit-linear-gradient(top, rgba(245,249,250,0.4), rgba(227,229,230,0.4));
  background-image: -moz-linear-gradient(top, rgba(245,249,250,0.4), rgba(227,229,230,0.4));
  background-image: -o-linear-gradient(top, rgba(245,249,250,0.4), rgba(227,229,230,0.4));
  background-image: -ms-linear-gradient(top, rgba(245,249,250,0.4), rgba(227,229,230,0.4));
  background-image: linear-gradient(top, rgba(245,249,250,0.4), rgba(227,229,230,0.4));
}
