.color_popover
	width 232px
	.header
		width 100%
		overflow auto
		margin-bottom 5px

	.large_swatches
		border-radius 3px
		background-image -webkit-image-set(url("../img/color_thumb_back.png") 1x, url("../img/color_thumb_back@2x.png") 2x)
		background-size 8px
		height auto
		width auto
		margin-right 9px
		floatleft
		overflow auto
		box-shadow 0 1px 0 #fff

	.large_swatch
		width 44px
		height 35px
		display block
		float left
		box-shadow inset 0 1px 0 rgba(0,0,0,.2)

	.current_color
		border-radius 3px 0px 0px 3px
		background-color rgba(0, 187, 255, .8)

	.last_color
		border-radius 0px 3px 3px 0px
		background-color #cccccc

	.small_swatches
		width 135px
		float left

	.small_swatch
		background-image -webkit-image-set(url("../img/color_thumb_back.png") 1x, url("../img/color_thumb_back@2x.png") 2x)
		width 15px
		height 15px
		margin-bottom 5px
		margin-right 5px
		float left
		border-radius 3px
		box-shadow 0 1px 0 #fff
		&:last-child
			margin-right 0px

	.color_swatch
		box-shadow inset 0 1px 0 rgba(0,0,0,.2)
		background-color #d9dcdc 
		height 100%
		width 100%
		margin-top 0px
		margin-left 0px
		border-radius 3px

	.gradient_overlay
		position absolute
		width 100%
		height 100%
		border-radius 3px

	.color_selection_field
		width 181px
		height 156px
		margin-right 13px
		display block
		float left
		border-radius 5px 3px 3px 3px
		position relative
		box-shadow 0 1px 0 #fff, inset 0 1px 0 rgba(0,0,0,.2)
		.saturation_gradient
			background-image -webkit-gradient(linear, 0% 50%, 100% 50%, from(white), to(rgba(255, 255, 255, 0)))
		.luminosity_gradient
			background-image -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(black))
		.selector_base
			width 12px
			height 12px
			background-color #FFFFFF
			position absolute
			margin-bottom -8px
			margin-left -5px
		.selector
			width 19px
			height 19px
			position absolute
			left -4px
			top -4px
			background-image -webkit-image-set(url("../img/grabber_color-well.png") 1x, url("../img/grabber_color-well@2x.png") 2x)

	.slider
		border-radius 3px
		width 12px
		height 156px
		margin-right 13px
		background-color #CCCCCC
		display block
		float left
		box-shadow 0 1px 0 #fff, inset 0 1px 0 rgba(0,0,0,.2)
		positionrelative
		.selector_base
			width 14px
			height 6px
			background-color transparent
			position absolute
			margin -1px -6px -4px -1px
		.selector
			width 20px
			height 12px
			left -3px
			top -3px
			position absolute
			background-image -webkit-image-set(url("../img/grabber_color-slider.png") 1x, url("../img/grabber_color-slider@2x.png") 2x)
		&.opacity_slider
			background-image -webkit-image-set(url("../img/color_thumb_back.png") 1x, url("../img/color_thumb_back@2x.png") 2x)
			background-size 8px
			position relative
			margin-right 0px

	.hue_slider
		background-image -webkit-linear-gradient(top, red, magenta, blue, cyan, lime, yellow, red)
		
	.color_value
		width 114px
		height 23px
		margin-top 0px
		margin-right 11px
		background-color #AAAAAA
		float left

	.color_popover .footer
		float left
		margin-top 12px


@import button-bar