.color_editor
	header
		.large_swatches
			.current_color.large_swatch
			.last_color.large_swatch
	.sliders
		.color_selection_field
			.saturation_gradient.gradient_overlay
			.luminosity_gradient.gradient_overlay
			.selector_base
				.selector
		.hue_slider.slider
			.selector_base
				.selector
		.opacity_slider.slider
			.opacity_gradient.gradient_overlay
			.selector_base
				.selector
	.swatches
	footer
		input.color_value
		ul.button-bar
			li.selected
				a.rgba(href="#") RGBa
			li
				a.hex(href="#") HEX
			li
				a.hsla(href="#") HSLa